@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:wght@400;600&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    box-sizing: border-box;
    background-color: black;
    color: #F6F6F6;
}

.cabecalho{
    padding: 2% 0% 0% 15%;

}

.cabecalho__menu {
    gap: 80px;
}

.cabecalho__link {
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    font-weight: 400;
    
}

.apresentacao {
    padding: 5% 15%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.apresentacao__conteudo {
    width: 615px;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.apresentacao__conteudo__titulo {
    font-size: 36px;
    font-family: 'Krona One', sans-serif;
}

.titulo-destaque {
    color: bisque;
}

.apresentacao__conteudo__paragrafo {
    font-size: 24px;
    font-family: 'Montserrat', sans-serif;
}

.apresentacao__links {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 32px;
}

.apresentacao__subtitulo {
    font-family: 'Krona One', sans-serif;
    font-weight: 400;
    font-size: 24px;
}

.apresentacao__links__botoes {
    display: flex;
    justify-content: center;
    gap: 16px;
    border: 2px solid bisque;
    width: 378px;
    text-align: center;
    border-radius: 8px;
    font-size: 24px;
    font-weight: 600;
    padding: 21.5px 0px;
    text-decoration: none;
    color: white;
    font-family: 'Montserrat', sans-serif;
}

.apresentacao__links__botoes:hover {
    background-color: bisque;
}

.apresentacao__logo {
    width: 32px;
    height: 32px;
}

.apresentacao__perfil {
    width: 488px;
    height: 550px;
}

.rodape {
    padding: 24px;
    color: black;
    background-color: bisque;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    font-weight: 400;
}