@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:wght@400;600&display=swap');

:root {
    --preto: #172a38;
    --branca: #e0c590;
    --bisque: #f48773;

    --fonte-titulo: 'Krona One', sans-serif;
    --fonte-paragrafo: 'Montserrat', sans-serif;
}

* {
    margin: 0;
    padding: 0;
}

body {
    box-sizing: border-box;
    background-color: var(--preto);
    color: var(--branca);
}

.cabecalho {
    padding: 2% 0% 0% 15%;

}

.cabecalho__menu {
    display: flex;
    gap: 80px;
}

.cabecalho__link {
    font-family: var(--fonte-paragrafo);
    font-size: 24px;
    font-weight: 600;
    color: var(--bisque);
    text-decoration: none;
}

.apresentacao {
    padding: 5% 15%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.apresentacao__conteudo {
    width: 615px;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.apresentacao__conteudo__titulo {
    font-size: 36px;
    font-family: var(--fonte-titulo);
}

.titulo-destaque {
    color: var(--bisque);
}

.apresentacao__conteudo__paragrafo {
    font-size: 24px;
    font-family: var(--fonte-paragrafo);
}

.apresentacao__links {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 32px;
}

.apresentacao__subtitulo {
    font-family: var(--fonte-titulo);
    font-weight: 400;
    font-size: 24px;
}

.apresentacao__links__botoes {
    display: flex;
    justify-content: center;
    gap: 16px;
    border: 2px solid var(--bisque);
    width: 378px;
    text-align: center;
    border-radius: 8px;
    font-size: 24px;
    font-weight: 600;
    padding: 21.5px 0px;
    text-decoration: none;
    color: var(--branca);
    font-family: var(--fonte-paragrafo);
}

.apresentacao__links__botoes:hover {
    background-color: var(--bisque);
}

.apresentacao__logo {
    width: 32px;
    height: 32px;
}

.apresentacao__perfil {
    width: 488px;
    height: 550px;
}

.rodape {
    padding: 24px;
    color: var(--preto);
    background-color: var(--bisque);
    text-align: center;
    font-family: var(--fonte-paragrafo);
    font-size: 24px;
    font-weight: 400;
}